<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="lightclip.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <lightclip.Properties.Settings>
            <setting name="OutputDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="Keybind" serializeAs="String">
                <value>Ctrl + Alt + G</value>
            </setting>
            <setting name="Bitrate" serializeAs="String">
                <value>8000</value>
            </setting>
            <setting name="Framerate" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="ClipLength" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="AudioBitrate" serializeAs="String">
                <value>128 kbps</value>
            </setting>
            <setting name="ShowNotification" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CopyToClipboard" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ClipResolution" serializeAs="String">
                <value>Source</value>
            </setting>
            <setting name="AddAppToStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VideoQualityPercent" serializeAs="String">
                <value>70</value>
            </setting>
            <setting name="VideoQualityType" serializeAs="String">
                <value>Constant bitrate</value>
            </setting>
            <setting name="MicrophoneInputDevice" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="MonitorInputSource" serializeAs="String">
                <value>Auto</value>
            </setting>
            <setting name="InputVolume" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="OutputVolume" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="OutputDevice" serializeAs="String">
                <value>Default</value>
            </setting>
        </lightclip.Properties.Settings>
    </userSettings>
</configuration>